@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Default styles */
body{
    background-color: whitesmoke;
    font-family: fira sans;
}


/* Shared Style */
.dark-primary{
    color: rgba(14, 14, 14, 0.7);
}

.btn-primary{
    background-color: #006A50;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    border-radius: 8px;
    border: none;
}

/* Navbar styles */

nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
}

nav > ul > li{
    list-style: none;
}

.nav-anchor{
    text-decoration: none;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    
}

.nav-btn{
    border: 1px solid #C6E4D6;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-title{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}

/* Hero section's styles */

.hero{
    background-color: #C6E4D6;
    margin: 30px 160px 50px 160px;
    border-radius: 10px;
}

.hero-container{
    display: flex;
    padding: 80px 100px;
    gap: 16px;

}

.hero-sub-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0;
}

.hero-title{
    font-size: 58px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

/* Pillars item styles */

.pillars{
    margin: 80px 160px 30px 160px;
}

.pillar-container{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    
}

.pillar-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;

}

.pillar-item{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}

.pillar-item-title{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.pillar-item-descrription{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/* Vision sections styles */

.vision{
    padding: 70px 160px 50px 160px;
}

.vision-title{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

.vision-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision-item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.vision-item{
    width: 410px;
    height: 325px;
    border-radius: 10px;
    padding: 32px;

}

.vision-item-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 10px 0;
}

.vision-item-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0;
}

.vision-image{
    width: 60px;
    margin: 15px 0;
}

.first-item{
    background-color: rgba(84, 144, 245, 0.2);
}

.second-item{
    background-color: rgb(198, 228, 214);
}

.third-item{
    background-color: rgb(247, 235, 207);
}

.btn-first{
    background-color: rgb(84, 144, 245);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    
}

.btn-second{
    background-color: #006A50;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
}

.btn-third{
    background-color: rgb(255, 194, 57);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
}

button:hover{
    background-color:  #F4FFC3;
    color: black;
    box-shadow: 5px 8px 15px black;
}

/* Challenge part styles */
.dr_younus{
    background-image: url("/Assets/quote-bg.png");
    background-position: 25px 50px;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    margin: 32px 0;
    padding: 48px 25px;
}

.dr_younus-descrition{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.dr_younus-name{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
}

.dr_younus-title{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
}

/* Opinion section styles */

.opinion{
    padding: 30px 160px;
}

.opinion-structure{
    background-color: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 16px;
}

.opinion-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.opinion-selector{
    text-align: center;
}

select{
    background-color: rgb(198, 228, 214);
    padding: 10px;
    border-radius: 3px;
    
}

table{
    border: 1px solid rgba(14, 14, 14, 0.15) ;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 1px solid rgba(14, 14, 14, 0.15) ;
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

thead{
    background-color: rgb(198, 228, 214);
    
}

th{
    text-align: left;
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}